$color-white: #ffffff;
$color-primary:#1a4161;
$color-secondary:#365f80;
$light-bg: rgb(242, 242, 242);
$body-bg-light:#e9e9ec;
$button-primary: rgb(54, 95, 128);
$border-color: #d2d2d2;
$color-table-header: #e6f4ff;
$color-text-description: #315471;
